body {
  background-color: #6ecfc5;
  font-family: "Aladin", system-ui;
  font-size: 22px;
}

#box {
  width: 1200px;
  margin: auto;
  text-align: center;
  background-color: rgb(6, 219, 234);
  padding: 10px;
}

#title {
  color: rgb(206, 10, 10);
}

.section-title {
  color: #050475;
}

.text-annot {
  font-size: 22px;
}

.movie-info {
  list-style-type: none;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

.bts {
  display: inline-block;

  font-family: "Aladin", system-ui;
  font-size: 18px;

  padding: 5px 15px;
  margin: 15px;

  background-color: #d80d0d;
  color: white;

  text-decoration: none;
  border-radius: 15px;

  transition: 0.5s;
}

.bts:hover {
  background-color: #049217;
}

.bts:active {
  transform: scale(0.95);
}

.gallery {
  text-align: center;
}

.img-gallery {
   width: 260px;
  height: auto;
  object-fit: cover;
  margin: 1px;
  border-radius: 100px;
}
